<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtrPQb0yXNdBHZyQt-PsHIWhbMIw1qJ_g</string>
	<key>GCM_SENDER_ID</key>
	<string>286895014988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.hidetora.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>hitech-instagram-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>hitech-instagram-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286895014988:ios:25ab2afb6b03fca2b0e0e9</string>
</dict>
</plist>